$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower


/* ### Available Fonts ### 
      font-family: 'Lato', sans-serif;
      font-family: 'Merriweather', serif;
      font-family: 'Open Sans', sans-serif;
      font-family: 'Montserrat', sans-serif;
*/

* {
    border-radius: 0;
    font-family: 'Lato', sans-serif;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
}

.nopadding {
  padding: 0;
}

hr.blue-grey {border-top: 1px solid $blue-grey;}
hr.blue {border-top: 1px solid $blue ;}
hr.orange {border-top: 1px solid $orange;}
hr.red-orange {border-top: 1px solid $red-orange;}
hr.light-cyan {border-top: 1px solid $light-cyan;}
hr.silver {border-top: 1px solid $silver;}



/* Everything but the jumbotron gets side spacing for mobile first views */
header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
header {
    border-bottom: 1px solid #e5e5e5;
    background-color: $blue-grey;
}

/* Make the masthead heading the same height as the navigation */
header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
footer {
  padding-top: 20px;
  padding-bottom: 5px;
  color: #fff;
  border-top: 10px solid $red-orange;
  background-color: $silver;

  #copyright-area {
    margin-top: 10px;
    margin-bottom: 0;
  }

  h5 {
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
  }

  ul {
    list-style-image: url( '../images/bullseye2.svg' );
    vertical-align: center;
    padding-left: 16px;

    li {

      a {
        color: #fff;
      }

      a:hover {
        color: $light-cyan;
        text-decoration: none;
      }
    }
  }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}


@media screen and (min-width: 1000px) {
  .container {
      max-width: 1000px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px ) and (max-width: 1000px) {
  .container {
      max-width: 960px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
      padding-left: 0;
      padding-right: 0;
  }
  /* Space out the masthead */
  .header {
      margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
      border-bottom: 0;
  }
}

.logo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-nav {
 // height: 60px;
  background-color: $blue-grey;
  border: none;

  .navbar-nav {

    li {

      a {
        color: #fff;
      }

      a:hover {
        transition: background-color 0.2s ease;
        background-color: #e7e7e7;
      }

      .dropdown-menu {
        background-color: $silver;
          
        li a:hover {
          transition: background-color 0.2s ease;
          transition: color 0.2s ease;
          background-color: #e7e7e7;
          color: #000;
        }
      }
    }
  }
}

.hero-unit {
  background-size:cover;
  opacity: .5;
  
  img {
    width: 100%;
  }
}

#page-hero {
  width: 100%;
  margin: 0 auto;
}

$section-title-margin: 30px;

// ### Sections ###

// Section Colors

section.blue, .blue-bg { background-color: $blue; }
section.blue-grey, .blue-grey-bg { background-color: $blue-grey; }
section.orange, .orange-bg { background-color: $orange; }
section.red-orange, .red-orange-bg { background-color: $red-orange; }
section.light-cyan, .light-cyan-bg { background-color: $light-cyan; }
section.silver, .silver-bg { background-color: $silver; }

section.blue,
section.blue-grey,
section.orange,
section.red-orange,
section.light-cyan,
section.blue-grey,
section.silver {
  padding-top: 30px;
  padding-bottom: 30px;

  h3 {
    margin-bottom: $section-title-margin;
  }

  * {
    color: #fff;
  }
}

section.padded {
  padding-top: 20px;
  padding-bottom: 20px;

  h3 {
    margin-bottom: $section-title-margin;
  }
}

section.panels {
  padding-top: 50px;
  padding-bottom: 40px;
}


/* sections on secondary pages */
section.secondary {
  padding-top: 20px;
  padding-bottom: 20px;
}

section.secondary:last-child {
  margin-bottom: 40px;
}

/* /secondary sections */

img.bordered {
  border: 3px solid #fff;
}

.carousel-indicators {
  li{ 
    border: 1px solid $silver !important;
  }
}

.dropdown-menu li a {
  line-height: 2.5em;
}

.sidebar {
  height: 100%;

  .nav {
    border-bottom: none;
  }
}

.sub-heading {
  margin-top: 0;
}

.fluid-1200 {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px; 
}




