<div class="container">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="images/temp/home_gallery1.jpg" alt="Products">
        <div class="carousel-caption">
          <h3>Item Title</h3>
          <p>Carousel Item Caption</p>
        </div>
      </div><!-- /image 1 -->
      <div class="item">
        <img src="images/temp/home_gallery2.jpg" alt="Products">
      </div><!-- /image 2 -->
      <div class="item">
        <img src="images/temp/home_gallery3.jpg" alt="Products">
      </div><!-- /image 3 -->
    </div>
  </div><!-- /carousel -->
</div>

<section class="panels">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Patients</h3>
          </div>
          <div class="panel-body">
            <div class="col-xs-4">
              <img src="images/cross.svg" alt="section image" class="img-responsive" />
            </div>
            <div class="col-xs-8">
              <p>Maecenas eget posuere justo. Nulla in lorem mi. Quisque porttitor fringilla ante et sollicitudin. Proin scelerisque elit ligula, a mollis massa fringilla ac.</p>
              <button type="button" class="btn btn-primary navbar-right" data-toggle="button">More Info</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Physicians</h3>
          </div>
          <div class="panel-body">
            <div class="col-xs-4">
              <img src="images/cross.svg" alt="section image" class="img-responsive" />
            </div>
            <div class="col-xs-8">
              <p>Maecenas eget posuere justo. Nulla in lorem mi. Quisque porttitor fringilla ante et sollicitudin. Proin scelerisque elit ligula, a mollis massa fringilla ac.</p>
              <button type="button" class="btn btn-primary navbar-right" data-toggle="button">More Info</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blue-grey">
  <div class="container">
    <h3>Sub Header</h3>
    <div class="col-sm-9">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non ante in velit tincidunt suscipit. Vivamus posuere pharetra fermentum. Mauris a rutrum felis. Quisque pretium, metus at faucibus lobortis, magna turpis venenatis diam, ac porttitor arcu massa quis justo. Curabitur ligula quam, porta ac urna eget, aliquam egestas nulla. Nullam turpis mi, fermentum euismod auctor id, posuere et lorem. Sed sed magna consequat, commodo augue et, ultrices nunc. Mauris eget ipsum nec mauris eleifend vulputate. Nam varius nunc elit, at hendrerit arcu malesuada in. Donec vel magna sed ligula iaculis sodales vel vitae tortor.</p>
      <p>Vivamus leo enim, ultricies id vulputate et, laoreet non arcu. Donec vel blandit erat. Aliquam faucibus massa sit amet velit molestie venenatis. Sed eu posuere est. Suspendisse molestie orci ut luctus sollicitudin. Integer elit nibh, viverra ac orci nec, vehicula tincidunt eros. In cursus elit mauris, nec facilisis nibh posuere in. Aenean sit amet nunc commodo, suscipit neque mattis, venenatis arcu. Morbi gravida molestie vulputate. Sed varius elit vitae sem euismod faucibus. Suspendisse vel consequat ante. Donec tincidunt, ligula lobortis commodo rutrum, tellus mauris placerat libero, sed pretium tortor tellus a neque.</p>
    </div>
    <div class="col-sm-3">
      <img src="http://placehold.it/220x220&Text=Section+Image" alt="section image" />
    </div>
  </div>
</section>

<section class="padded">
  <div class="container">
    <h3>Sub Header</h3>
    <div class="col-lg-3 col-sm-4">
      <img src="http://placehold.it/220x220&Text=Section+Image" alt="section image" class="bordered img-responsive" />
    </div>
    <div class="col-lg-9 col-sm-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non ante in velit tincidunt suscipit. Vivamus posuere pharetra fermentum. Mauris a rutrum felis. Quisque pretium, metus at faucibus lobortis, magna turpis venenatis diam, ac porttitor arcu massa quis justo. Curabitur ligula quam, porta ac urna eget, aliquam egestas nulla. Nullam turpis mi, fermentum euismod auctor id, posuere et lorem. Sed sed magna consequat, commodo augue et, ultrices nunc. Mauris eget ipsum nec mauris eleifend vulputate. Nam varius nunc elit, at hendrerit arcu malesuada in. Donec vel magna sed ligula iaculis sodales vel vitae tortor.</p>
      <h4>Supplemental Header</h4>
      <p>Vivamus leo enim, ultricies id vulputate et, laoreet non arcu. Donec vel blandit erat. Aliquam faucibus massa sit amet velit molestie venenatis. Sed eu posuere est. Suspendisse molestie orci ut luctus sollicitudin. Integer elit nibh, viverra ac orci nec, vehicula tincidunt eros.</p>
    </div>
  </div>
</section>











