<div class="container nopadding">
  <div id="page-hero" class="hero-unit">
    <img src="images/temp/home_gallery1.jpg" alt="section image" class="img-responsive" />
  </div><!-- /page-hero -->
</div>

<div class="page-header">
  <div class="container">
    <div class="row">
      <h1>Page Header <small>Subtext for header</small></h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar nopadding hidden-sm hidden-xs">
      <ul class="nav nav-tabs nav-stacked">
        <li class="nav-menu"><a href="#">Home</a></li>
        <li class="nav-menu"><a href="#">Home</a></li>
        <li class="nav-menu"><a href="#">Home</a></li>
        <li class="nav-menu"><a href="#">Home</a></li>
        <li class="nav-menu"><a href="#">Home</a></li>
        <li class="nav-menu"><a href="#">Home</a></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-10 main-content">
      <section class="secondary">
        <div class="row">
          <!--<h3>Sub Header</h3>-->
          <div class="col-lg-3 col-sm-4">
            <img src="http://placehold.it/220x220&text=Section+Image" alt="section image" class="bordered img-responsive" />
          </div>
          <div class="col-lg-9 col-sm-8">
            <h4 class="sub-heading">Supplemental Header</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non ante in velit tincidunt suscipit. Vivamus posuere pharetra fermentum. Mauris a rutrum felis. Quisque pretium, metus at faucibus lobortis, magna turpis venenatis diam, ac porttitor arcu massa quis justo. Curabitur ligula quam, porta ac urna eget, aliquam egestas nulla. Nullam turpis mi, fermentum euismod auctor id, posuere et lorem. Sed sed magna consequat, commodo augue et, ultrices nunc. Mauris eget ipsum nec mauris eleifend vulputate. Nam varius nunc elit, at hendrerit arcu malesuada in. Donec vel magna sed ligula iaculis sodales vel vitae tortor.</p>
          </div>
        </div>
      </section>
      <hr class="light-cyan">
      <section class="secondary">
        <div class="row">
          <!--<h3>Sub Header</h3>-->
          <div class="col-lg-3 col-sm-4">
            <img src="http://placehold.it/220x220&text=Section+Image" alt="section image" class="bordered img-responsive" />
          </div>
          <div class="col-lg-9 col-sm-8">
            <h4 class="sub-heading">Supplemental Header</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non ante in velit tincidunt suscipit. Vivamus posuere pharetra fermentum. Mauris a rutrum felis. Quisque pretium, metus at faucibus lobortis, magna turpis venenatis diam, ac porttitor arcu massa quis justo. Curabitur ligula quam, porta ac urna eget, aliquam egestas nulla. Nullam turpis mi, fermentum euismod auctor id, posuere et lorem. Sed sed magna consequat, commodo augue et, ultrices nunc. Mauris eget ipsum nec mauris eleifend vulputate. Nam varius nunc elit, at hendrerit arcu malesuada in. Donec vel magna sed ligula iaculis sodales vel vitae tortor.</p>
          </div>
        </div>
      </section>
      <hr class="light-cyan">
      <section class="secondary">
        <div class="row">
          <!--<h3>Sub Header</h3>-->
          <div class="col-lg-3 col-sm-4">
            <img src="http://placehold.it/220x220&text=Section+Image" alt="section image" class="bordered img-responsive" />
          </div>
          <div class="col-lg-9 col-sm-8">
            <h4 class="sub-heading">Supplemental Header</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non ante in velit tincidunt suscipit. Vivamus posuere pharetra fermentum. Mauris a rutrum felis. Quisque pretium, metus at faucibus lobortis, magna turpis venenatis diam, ac porttitor arcu massa quis justo. Curabitur ligula quam, porta ac urna eget, aliquam egestas nulla. Nullam turpis mi, fermentum euismod auctor id, posuere et lorem. Sed sed magna consequat, commodo augue et, ultrices nunc. Mauris eget ipsum nec mauris eleifend vulputate. Nam varius nunc elit, at hendrerit arcu malesuada in. Donec vel magna sed ligula iaculis sodales vel vitae tortor.</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div><!-- /container -->



