
<div class="container-fluid nopadding">
<div id="about-hero" class="hero-unit">
  <img src="http://placehold.it/1000x320&text=Large+Hero+Image" alt="section image" class="img-responsive" />
</div><!-- /page-hero -->
</div>


<div class="page-header">
  <div class="container">
    <div class="row">
      <h1>Page Header <small>Subtext for header</small></h1>
    </div>
  </div>
</div>

<section class="padded">
  <div class="container">
    <h3>Sub Header</h3>
    <div class="col-lg-3 col-sm-4">
      <img src="http://placehold.it/220x220&text=Section+Image" alt="section image" class="bordered img-responsive" />
    </div>
    <div class="col-lg-9 col-sm-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non ante in velit tincidunt suscipit. Vivamus posuere pharetra fermentum. Mauris a rutrum felis. Quisque pretium, metus at faucibus lobortis, magna turpis venenatis diam, ac porttitor arcu massa quis justo. Curabitur ligula quam, porta ac urna eget, aliquam egestas nulla. Nullam turpis mi, fermentum euismod auctor id, posuere et lorem. Sed sed magna consequat, commodo augue et, ultrices nunc. Mauris eget ipsum nec mauris eleifend vulputate. Nam varius nunc elit, at hendrerit arcu malesuada in. Donec vel magna sed ligula iaculis sodales vel vitae tortor.</p>
      <h4>Supplemental Header</h4>
      <p>Vivamus leo enim, ultricies id vulputate et, laoreet non arcu. Donec vel blandit erat. Aliquam faucibus massa sit amet velit molestie venenatis. Sed eu posuere est. Suspendisse molestie orci ut luctus sollicitudin. Integer elit nibh, viverra ac orci nec, vehicula tincidunt eros.</p>
    </div>
  </div>
</section>

<section class="blue-grey">
  <div class="container">
    <h3>Sub Header</h3>
    <div class="col-sm-9">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non ante in velit tincidunt suscipit. Vivamus posuere pharetra fermentum. Mauris a rutrum felis. Quisque pretium, metus at faucibus lobortis, magna turpis venenatis diam, ac porttitor arcu massa quis justo. Curabitur ligula quam, porta ac urna eget, aliquam egestas nulla. Nullam turpis mi, fermentum euismod auctor id, posuere et lorem. Sed sed magna consequat, commodo augue et, ultrices nunc. Mauris eget ipsum nec mauris eleifend vulputate. Nam varius nunc elit, at hendrerit arcu malesuada in. Donec vel magna sed ligula iaculis sodales vel vitae tortor.</p>
      <p>Vivamus leo enim, ultricies id vulputate et, laoreet non arcu. Donec vel blandit erat. Aliquam faucibus massa sit amet velit molestie venenatis. Sed eu posuere est. Suspendisse molestie orci ut luctus sollicitudin. Integer elit nibh, viverra ac orci nec, vehicula tincidunt eros. In cursus elit mauris, nec facilisis nibh posuere in. Aenean sit amet nunc commodo, suscipit neque mattis, venenatis arcu. Morbi gravida molestie vulputate. Sed varius elit vitae sem euismod faucibus. Suspendisse vel consequat ante. Donec tincidunt, ligula lobortis commodo rutrum, tellus mauris placerat libero, sed pretium tortor tellus a neque.</p>
    </div>
    <div class="col-sm-3">
      <img src="http://placehold.it/220x220&text=Section+Image" alt="section image" />
    </div>
  </div>
</section>

<section class="padded">
  <div class="container">
    <h3>Sub Header</h3>
    <div class="col-lg-3 col-sm-4">
      <img src="http://placehold.it/220x220&text=Section+Image" alt="section image" class="bordered img-responsive" />
    </div>
    <div class="col-lg-9 col-sm-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non ante in velit tincidunt suscipit. Vivamus posuere pharetra fermentum. Mauris a rutrum felis. Quisque pretium, metus at faucibus lobortis, magna turpis venenatis diam, ac porttitor arcu massa quis justo. Curabitur ligula quam, porta ac urna eget, aliquam egestas nulla. Nullam turpis mi, fermentum euismod auctor id, posuere et lorem. Sed sed magna consequat, commodo augue et, ultrices nunc. Mauris eget ipsum nec mauris eleifend vulputate. Nam varius nunc elit, at hendrerit arcu malesuada in. Donec vel magna sed ligula iaculis sodales vel vitae tortor.</p>
      <h4>Supplemental Header</h4>
      <p>Vivamus leo enim, ultricies id vulputate et, laoreet non arcu. Donec vel blandit erat. Aliquam faucibus massa sit amet velit molestie venenatis. Sed eu posuere est. Suspendisse molestie orci ut luctus sollicitudin. Integer elit nibh, viverra ac orci nec, vehicula tincidunt eros.</p>
    </div>
  </div>
</section>

